@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

    /* font: normal 16px 'Roboto', sans-serif; */
    
}

a {
    color: #0f141e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

.avatar {
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}



.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #1e2025;
    margin: 0px;
    text-decoration: none;
}

/* Box Model */

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.social {
    background: rgb(168, 168, 168);
    padding: 15px;
    border: 5px solid grey;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    /* background: rgb(194, 194, 194); */
    margin-bottom: 20px;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
    /* list-style: none; */

}

.list li {
    color: #1e2025;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(1) {
    color: #5e6575;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #5e6575;
}

.form-group input,
.form-group textarea
{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(216, 216, 216);
    color: #000000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;

}

.row > .form-group {
    width: 50%;
    /* margin-right: 20px; */
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: #000;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}


/* Position */

/* .position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(255, 182, 182);
} */